body{
    background-color: #ebf0e7;
}
.titlebox{
    height: 45px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.usertitle{
    float: right;
    text-align: right;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    width:350px;
    color: #000000;
}
.usertitle a{
    color: black;
    text-decoration:none
}
.usertitle a svg{
    width: 15px;
    height: 15px;
}
.titlecenter{
    float: left;
    text-align:center ;
    width: 200px;
    font-size: 26px;
    font-weight: 400;
    margin:0;
    padding-top: 10px;
    padding-bottom:10px ;
    background-color: #002140;
    color: #FFFFFF;
    box-shadow: 2px 0 6px rgb(0 21 41 );
}
.titlecenter svg{
    width: 25px;
    height:25px;
}
.navbar {
    width: 70%;
    background-color: #FFFFFF;
}
.navbar a {
    float: left;
    width: auto;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
.navbar a svg{
    width: 18px;
    height: 18px;
}
.navbar a:hover{
    border-bottom: 4px solid #67c4d6;
    color: #67c4d6;
}
.leftBox{
    float:left;
    width: 200px;
    height:500px;
    background-color: #002140;
    padding:20px ;
    box-sizing: border-box;
}
.leftBox div{
    margin-top: 30px;
    border-bottom: 0.5px solid #FFFFFF;
}
.leftBox1{
    text-align: center;
    width:150px;
    height: 40px;
}
.leftBox a{
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-decoration:none
}
.leftBox1 a svg{
    width: 20px;
    height: 20px;
}
.leftBox1 a:hover{
    font-size: 23px;
}
.mainBox{
    float:left;
    width: 60%;
    background-color: white;
    padding:20px ;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px #888888;
}
.mainTitle{
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-bottom:0.5px solid #EBF0E7;
}
.mainTitle svg{
    width: 18px;
    height: 18px;
}
.mainTable{
    margin: 10px;
    padding: 5px;
    font-weight: 400;
    color: #747474;
}
.mainTable table td{
    text-align: left;
}
.rightBox{
    float:right;
    width: 22%;
    background-color: white;
    padding:20px ;
    box-sizing: border-box;
}
.rightTitle{
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-bottom:0.5px solid #EBF0E7;
}
.rightTitle svg{
    width: 15px;
    height: 15px;
}
.rightTable{
    margin: 10px;
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
    color: #747474;
}
.talk_con{
      width:600px;
      height:440px;
      border:1px solid #666;
      margin:40px auto 0;
      background:#f9f9f9;
  }
.talk_show{
    width:580px;
    height:380px;
    border:1px solid #666;
    background:#fff;
    margin:10px auto 0;
    overflow:auto;
}
.talk_input{
    width:580px;
    margin:10px auto 0;
}
.whotalk{
    width:80px;
    height:30px;
    float:left;
    outline:none;
}
.talk_word{
    width:420px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
}
.talk_sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
}
.atalk{
    margin:10px;
}
.atalk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.btalk{
    margin:10px;
    text-align:right;
}
.btalk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}